//- Mixins
mixin radio(name, id, checked)
  p
    if checked
      input(type="radio", name= name, id= id, value=id, checked)
    else
      input(type="radio", name= name, id= id, value= id)    
    label(for= id)= id
  if block
    .options
      block

mixin range(id, label, min, max)
  p.range-field
    input(type="range", id= id, min= min, max= max)
    label(for= id)= label

mixin number(id, label, value, step)
  div.input-field.inline
    input(type="number", id= id, placeholder= label, min="0", value= value, step= step)
    if label
      label(for= id)= label  

mixin checkbox(id, label, checked)
  p
    if checked
      input(type="checkbox", id= id, checked)
    else
      input(type="checkbox", id= id)
    label(for= id)= label

mixin file(id, label)
  .file-field.input-field
    .btn
      span= label
      input(type="file", id= id)
    .file-path-wrapper
      input.file-path.validate(type="text")

mixin button(c, text, icon)
  a.waves-effect.waves-light.btn(class= c, value= text)
    i.material-icons.right= icon
    = text

html
  head
    //- Meta
    title CG2
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Vendor
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(href="node_modules/materialize-css/dist/css/materialize.min.css", rel="stylesheet", media="screen,projection")
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="node_modules/materialize-css/dist/js/materialize.min.js")

    //- Custom stuff
    link(href="frontend/main.css", rel="stylesheet")
    script(src="built/frontend.js")
  body
    block content