//- Mixins
mixin radio(name, id, checked)
  p
    if checked
      input(type="radio", name= name, id= id, checked)
    else
      input(type="radio", name= name, id= id)    
    label(for= id)= id
  if block
    .options
      block

mixin range(id, label, min, max)
  p.range-field
    input(type="range", id= id, min= min, max= max)
    label(for= id)= label

mixin number(id, value, step)
  input(type="number", id= id, min="0", value= value, step= step)  

mixin checkbox(id, label, checked)
  p
    if checked
      input(type="checkbox", id= id, checked)
    else
      input(type="checkbox", id= id)
    label(for= id)= label

mixin file(id, label)
  .file-field.input-field
    .btn
      span= label
      input(type="file")
    .file-path-wrapper
      input.file-path.validate(type="text")

mixin button(c, text, icon)
  a.waves-effect.waves-light.btn(class= c, value= text)
    i.material-icons.right= icon
    = text

html
  head
    //- Meta
    title CG2
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Vendor
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(href="node_modules/materialize-css/dist/css/materialize.min.css", rel="stylesheet", media="screen,projection")
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="node_modules/materialize-css/dist/js/materialize.min.js")

    //- Custom stuff
    link(href="main.css", rel="stylesheet")
    script(src="built/frontend.js")
  body
    canvas#c
    #details
      section
        h3 Search
        +radio("search", "Linear")
        +radio("search", "Octree", true)
          +range("oBucketSize", "Bucket Size", 1, 100)
          +range("oMaxDepth", "Max Depth", 0, 10)
        +radio("search", "KDtree")
          +range("kdtreeBucketSize", "Bucket Size", 1, 30)
      section
        h3 Query
        +radio("query", "Radius", true)
          +number("radius", 1, .1)
        +radio("query", "KNearest")                   
          +number("knearest", 10, 1)
      section
        h3 Misc
        +checkbox("visualize", "Render Data Structure", true)
      section
        h3 Load
        //+file("load", "Load Model")
        +button("load", "teapot", "attachment")
        +button("load", "sphere", "attachment")